QGroupBox {
    font: bold;
    border: 1px solid silver;
    border-radius: 6px;
    margin-top: 10px;
    padding: 15px 5px 10px 5px;
}

QGroupBox::title {
    subcontrol-origin: margin;
    left: 7px;
    padding: 0px 5px 0px 5px;
}

QLabel#popLabel{
    color: white;
    font-size: 25px;
    padding: 5px 20px 5px 20px;
}

FilterHeader::section {
    padding-top: 5px;
}

QFrame#fmApp {
    padding-left: 20px;
    padding-right: 20px;
    border: 1px outset #bbb;
    background-image:url(:/images/glass.svg);
    background-repeat: repeat-x;
    border-radius: 5px;
}

QLabel#laAppName {
    qproperty-alignment: AlignCenter;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    font-size: 20px;
}
