/* ヘッダー */
QFrame#frameHead {
    border-bottom: 1px solid palette(Light);
}

/* glass */
QToolBar, QFrame#frameHead {
    background-image:url(:/images/glass_dark.svg);
    background-position: left center;
    background-repeat: repeat-x;
}

/* ヘッダーラベル */
QLabel#headerSubLable {
    qproperty-alignment: AlignCenter;
    padding-left: 10px;
    padding-right: 10px;
    margin-left:5px;
}

/* TableViewExのソートインジケーター */
FilterHeader::down-arrow {
    position: center;
    image: url(:/images/arrow_down_dark.svg);
}
FilterHeader::up-arrow {
    position: center;
    image: url(:/images/arrow_up_dark.svg);
}

QProgressBar {
    text-align: center;
    border: 1px solid palette(Midlight);
    border-radius: 2px;
    background-color: palette(Window);
}
QProgressBar::chunk {
    border: none;
    background-color: palette(highlight);
}
